<!-- navbar  -->
<nav-component></nav-component>
<nav-modal></nav-modal>

<!-- whole screen -->
<div class="container mb-5">
    <div class="row">
        <!-- establishment card -->
        {{#with selectedEstab}}
        <div class="col-lg-5">
            <div class="card mt-5">
                <img class="card-img-top" src="{{{profilePicture}}}" alt="">
                <div class="card-body">
                    <div class="flex-center justify-content-between">
                        <div>
                            <h2 class="card-title estabNamez">{{{displayedName}}}</h2>
                            <p class="address">{{{address}}}</p>
                        </div>
                        <span class="card-text ratingDiv">
                            <h5 class="d-inline-block">
                                <span class="ratingz">{{{rating}}}</span>
                                <meter class="average-rating star-3" min="0" max="5"></meter>
                            </h5>
                        </span>
                    </div>
                    <p class="card-text">{{{description}}}</p>
                </div>
            </div>
        </div>
        {{/with}}

        <!-- everything else -->
        <div class="col ms-4 mt-5">

            <!-- rate form -->
            <div class="row collapse show revForm">
                <form id="reviewForm" method="post">
                    <div class="form-group">
                        <p class="rateEstabText">Rate this establishment</p>
                        <div class="rate">
                            <input required type="radio" id="star5" name="rate" value="5" /><label for="star5"
                                title="text">5 stars</label>
                            <input required type="radio" id="star4" name="rate" value="4" /><label for="star4"
                                title="text">4 stars</label>
                            <input required type="radio" id="star3" name="rate" value="3" /><label for="star3"
                                title="text">3 stars</label>
                            <input required type="radio" id="star2" name="rate" value="2" /><label for="star2"
                                title="text">2 stars</label>
                            <input required type="radio" id="star1" name="rate" value="1" /><label for="star1"
                                title="text">1 star</label>
                        </div>
                        <label for="c00000xxtext" class="form-label writeRevText">Write a Review</label>
                        <input placeholder="Title" name="title" type="title" class="form-control fw-light" id="title"
                            required />
                        <textarea class="form-control fw-light " id="c00000xxtext" rows="3" name="revDesc"
                            placeholder="Describe your experience (required) " required></textarea>
                        <div class="flex-center postRevDiv">
                            <a data-bs-toggle="modal" data-bs-target=".IMGFILES" class="seeAttach ">see attached
                                files</a>
                            <label class=" form-label img imgbg" for="customFile1"></label>
                            <input type="file" accept="media_type" class="form-control d-none" id="customFile1"
                                name="media" multiple />
                            <button type="submit" class="postReview btn btn-success">Post</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal IMGFILES">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="btn-close btn-close-success me-2" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <ul class="filelist">
                                {{{filelist}}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- form submitted injected here -->
            <div class="row yourReview collapse show"></div>
            <p class="fw-light mb-2">Top Reviews</p>

            <!-- Top Reviews / one row per review-->
            {{#if topReviews}}
            {{#each topReviews}}
            {{> review this}}
            {{/each}}

            <!-- Truncated reviews -->
            {{#if truncatedReviews}}
                    <div class="row mb-3">
                        <button class="moreRev moreRevText">see more</button>
                    </div>
                    <div class="row moreRev collapse">
                    {{#each truncatedReviews}}
                    {{> review this}}
                    {{/each}}
                    </div>
                {{/if}}
            {{else}}
                <p class="fw-light flex-center flex-center justify-content-center pt-5 mt-5">. . . . . . . . . . . . . . . . .. .. ...WOah! such Empy... .. .. . . . . . . . . . . . . . . . .</p>
            {{/if}}
        </div>
    </div>
</div>