<!-- navbar  -->
<nav-component></nav-component>
<nav-modal></nav-modal>

<!-- whole screen -->
<div class="container">
    <div class="row">
        <!-- establishment card -->
        {{#with selectedEstab}}
        <div class="col-lg-5">
            <div class="card mt-5">
                <img class="card-img-top" src="{{{profilePicture}}}" alt="">
                <div class="card-body">
                    <div class="flex-center justify-content-between">
                        <div>
                            <h2 class="card-title estabNamez">{{{displayedName}}}</h2>
                            <p class="address">{{{address}}}</p>
                        </div>
                        <span class="card-text ratingDiv">
                            <h5 class="d-inline-block">
                                <span class="ratingz">{{{rating}}}</span>
                                <meter class="average-rating star-3" min="0" max="5"></meter>
                            </h5>
                        </span>
                    </div>
                    <p class="card-text">{{{description}}}</p>
                </div>
            </div>
        </div>
        {{/with}}

        <!-- everything else -->
        <div class="col ms-4 mt-5">

            <!-- rate form -->
            <div class="row collapse show revForm">
                <form id="reviewForm" method="post">
                    <div class="form-group">
                        <p class="rateEstabText">Rate this establishment</p>
                        <div class="rate">
                            <input required type="radio" id="star5" name="rate" value="5" /><label for="star5"
                                title="text">5 stars</label>
                            <input required type="radio" id="star4" name="rate" value="4" /><label for="star4"
                                title="text">4 stars</label>
                            <input required type="radio" id="star3" name="rate" value="3" /><label for="star3"
                                title="text">3 stars</label>
                            <input required type="radio" id="star2" name="rate" value="2" /><label for="star2"
                                title="text">2 stars</label>
                            <input required type="radio" id="star1" name="rate" value="1" /><label for="star1"
                                title="text">1 star</label>
                        </div>
                        <label for="c00000xxtext" class="form-label writeRevText">Write a Review</label>
                        <input placeholder="Title" name="title" type="title" class="form-control fw-light" id="title"
                            required />
                        <textarea class="form-control fw-light " id="c00000xxtext" rows="3" name="revDesc"
                            placeholder="Describe your experience (required) " required></textarea>
                        <div class="flex-center postRevDiv">
                            <a data-bs-toggle="modal" data-bs-target=".IMGFILES" class="seeAttach ">see attached
                                files</a>
                            <label class=" form-label img imgbg" for="customFile1"></label>
                            <input type="file" accept="media_type" class="form-control d-none" id="customFile1"
                                name="media" multiple />
                            <button type="submit" class="postReview btn btn-success">Post</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal IMGFILES">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="btn-close btn-close-success me-2" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <ul class="filelist">
                                {{{filelist}}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- form submitted injected here -->
            <div class="row yourReview collapse show"></div>
            <p class="fw-light mb-2">Top Reviews</p>

            <!-- Top Reviews / one row per review-->
            {{#each topReviews}}
            <div class="row">
                <div class="card mb-3 REVIEW">
                    <!-- profile (req)-->
                    <div class="card-header reviewHeader flex-center">
                        <div class="user-profile flex-center">
                            <a href="user-profile-view.html" class="flex-center"><img class="pfpRev img-fluid"
                                    src="{{user.profilePicture}}" alt=""></a>
                            <div class="postDeats">
                                <a class="user-link" href="user-profile-view.html">{{user.username}}</a>
                                <div class=" status">{{formatDate datePosted}} {{#if edited}} • edited {{/if}} </div>
                            </div>
                        </div>
                        <div>
                            <h5 class="d-inline-block">
                                <span class="ratingz">{{rating}}</span>
                                <meter class="average-rating star5 mang-inasal d-inline-block" min="0"
                                    max="5"></meter>
                            </h5>
                        </div>
                    </div>

                    <!-- review text (req)-->
                    <div class="card-body reviewBody">
                        <!-- UNIQUE ID PER REVIEW -->
                        <h6 class="card-title reviewTitle">{{title}}</h6>
                        <p class=" reviewtext truncate card-text">
                            {{content}}
                        </p>

                        <!-- media  -->
                        {{#if nMedia}}
                        <div class="card-body revMedia">
                            {{#each topVideos}}
                                <span><video class="img-fluid" src="{{this}}"
                                    controls /></span>
                            {{/each}}

                            {{#each topImages}}
                                <span><img class="img-fluid" src="{{this}}"></span>
                            {{/each}}
                            
                            {{#if nTruncatedMedia}}
                            <button class="imgBtn" data-bs-toggle="modal"
                                data-bs-target=".c00000.moreImg">+{{nTruncatedMedia}}</button>
                            {{/if}}
                        </div>
                        {{/if}}
                        
                        <div class="modal c00000 moreImg">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button class="btn-close btn-close-success me-2"
                                            data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body moreImgBox">
                                        {{#each truncatedVideos}}
                                            <span><video class="img-fluid"
                                                src="{{this}}" controls /></span>
                                        {{/each}}
                                        {{#each truncatedImages}}
                                        <span><img class="img-fluid"
                                            src="{{this}}"></span>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- icons -->
                        <div class="flex-center iconBox">
                            <span class=" chat chatbg "></span>
                            <span class=" cNum card-text">{{length children}}</span>
                            <span class=" up upbg"> </span>
                            <span class=" uvote card-text">{{length likes}}</span>
                            <span class=" down downbg"></span>
                            <span class=" dvote card-text">{{length dislikes}}</span>
                            <span class=" reply replybg"></span>
                        </div>
                    </div>

                    <!-- reply area (req)-->
                    <div class=" wReply card-footer collapse">
                        <form>
                            <div class="form-group">
                                <label for="text" class="form-label writeReply">Write a Reply</label>
                                <textarea class="form-control" required id="text" name="text" rows="3"></textarea>
                                <button type="submit" class=" postReply btn btn-success">Post</button>
                            </div>
                        </form>
                    </div>

                    <!-- establishment response (opt) -->
                    {{#each estabResponse}}
                    <div class="card-footer REVIEW estabResponseDiv">
                        <button class="estabResponse">view establishment's response</button>
                        <div class=" estabResponseText collapse">
                            <p class="reviewtext truncate mt-1 card-text ">
                                {{content}}
                            </p>
                            <div class="flex-center iconBox">
                                <span class="chat chatbg "></span>
                                <span class="cNum card-text">{{length comments}}</span>
                                <span class="up upbg"> </span>
                                <span class="uvote card-text">{{length likes}}</span>
                                <span class="down downbg"></span>
                                <span class="dvote card-text">{{length dislikes}}</span>
                                <span class="reply replybg"></span>
                            </div>
                            <div class="wReply card-footer collapse">
                                <form>
                                    <div class="form-group">
                                        <label for="a00001xxtext" class="form-label writeReply">Write a
                                            Reply</label>
                                        <textarea class="form-control" required id="a00001xxtext"
                                            name="a00001xxtext" rows="3"></textarea>
                                        <button type="submit" class="postReply btn btn-success">Post</button>
                                    </div>
                                </form>
                            </div>
                            <!--  comment section list of reply -->
                            <ul class="comment list-group list-group-flush collapse"></ul>
                        </div>
                    </div>
                    {{/each}}

                    <!--  comment section list of review-->
                    <!-- UL ID is for review // the reply will have a unique ID -->
                    {{> comment }}
                </div>
            </div>
            {{/each}}

            <!-- Truncated reviews -->
            <div class="row mb-3">
                <button class="moreRev moreRevText">see more</button>
            </div>
            {{#each truncatedReviews}}
            <div class="row moreRev collapse">
                <div class="card mb-3 REVIEW">
                    <!-- profile (req)-->
                    <div class="card-header reviewHeader flex-center">
                        <div class="user-profile flex-center">
                            <a href="user-profile-view.html" class="flex-center"><img class="pfpRev img-fluid"
                                    src="{{user.profilePicture}}" alt=""></a>
                            <div class="postDeats">
                                <a class="user-link" href="user-profile-view.html">{{user.username}}</a>
                                <div class=" status">{{formatDate datePosted}} {{#if edited}} • edited {{/if}} </div>
                            </div>
                        </div>
                        <div>
                            <h5 class="d-inline-block">
                                <span class="ratingz">{{rating}}</span>
                                <meter class="average-rating star5 mang-inasal d-inline-block" min="0"
                                    max="5"></meter>
                            </h5>
                        </div>
                    </div>

                    <!-- review text (req)-->
                    <div class="card-body reviewBody">
                        <!-- UNIQUE ID PER REVIEW -->
                        <h6 class="card-title reviewTitle">{{title}}</h6>
                        <p class=" reviewtext truncate card-text">
                            {{content}}
                        </p>

                        <!-- media  -->
                        {{#if nMedia}}
                        <div class="card-body revMedia">
                            {{#each topVideos}}
                                <span><video class="img-fluid" src="{{this}}"
                                    controls /></span>
                            {{/each}}

                            {{#each topImages}}
                                <span><img class="img-fluid" src="{{this}}"></span>
                            {{/each}}
                            
                            {{#if nTruncatedMedia}}
                            <button class="imgBtn" data-bs-toggle="modal"
                                data-bs-target=".c00000.moreImg">+{{nTruncatedMedia}}</button>
                            {{/if}}
                        </div>
                        {{/if}}
                        
                        <div class="modal c00000 moreImg">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button class="btn-close btn-close-success me-2"
                                            data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body moreImgBox">
                                        {{#each truncatedVideos}}
                                            <span><video class="img-fluid"
                                                src="{{this}}" controls /></span>
                                        {{/each}}
                                        {{#each truncatedImages}}
                                        <span><img class="img-fluid"
                                            src="{{this}}"></span>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- icons -->
                        <div class="flex-center iconBox">
                            <span class=" chat chatbg "></span>
                            <span class=" cNum card-text">{{length children}}</span>
                            <span class=" up upbg"> </span>
                            <span class=" uvote card-text">{{length likes}}</span>
                            <span class=" down downbg"></span>
                            <span class=" dvote card-text">{{length dislikes}}</span>
                            <span class=" reply replybg"></span>
                        </div>
                    </div>

                    <!-- reply area (req)-->
                    <div class=" wReply card-footer collapse">
                        <form>
                            <div class="form-group">
                                <label for="text" class="form-label writeReply">Write a Reply</label>
                                <textarea class="form-control" required id="text" name="text" rows="3"></textarea>
                                <button type="submit" class=" postReply btn btn-success">Post</button>
                            </div>
                        </form>
                    </div>

                    <!-- establishment response (opt) -->
                    {{#each estabResponse}}
                    <div class="card-footer REVIEW estabResponseDiv">
                        <button class="estabResponse">view establishment's response</button>
                        <div class=" estabResponseText collapse">
                            <p class="reviewtext truncate mt-1 card-text ">
                                {{content}}
                            </p>
                            <div class="flex-center iconBox">
                                <span class="chat chatbg "></span>
                                <span class="cNum card-text">{{length comments}}</span>
                                <span class="up upbg"> </span>
                                <span class="uvote card-text">{{length likes}}</span>
                                <span class="down downbg"></span>
                                <span class="dvote card-text">{{length dislikes}}</span>
                                <span class="reply replybg"></span>
                            </div>
                            <div class="wReply card-footer collapse">
                                <form>
                                    <div class="form-group">
                                        <label for="a00001xxtext" class="form-label writeReply">Write a
                                            Reply</label>
                                        <textarea class="form-control" required id="a00001xxtext"
                                            name="a00001xxtext" rows="3"></textarea>
                                        <button type="submit" class="postReply btn btn-success">Post</button>
                                    </div>
                                </form>
                            </div>
                            <!--  comment section list of reply -->
                            <ul class="comment list-group list-group-flush collapse"></ul>
                        </div>
                    </div>
                    {{/each}}

                    <!--  comment section list of review-->
                    <!-- UL ID is for review // the reply will have a unique ID -->
                    {{> comment }}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>