
                <div class="card mb-3 REVIEW">

                    <!-- profile (req)-->
                    <div class="card-header reviewHeader flex-center">
                            <div class="user-profile flex-center">
                                <a href={{{link}}} class="flex-center"><img class="pfpRev img-fluid" src={{{img}}} alt={{{altname}}}></a>
                                <div class="postDeats">
                                    <a class="user-link" href={{{link}}}>{{{username}}}</a>
                                    <div class=" status">{{{date}}}{{{isEdited}}}</div>
                                </div>
                            </div>
                            <div>
                                <h5 class="d-inline-block">
                                    <span class="ratingz">{{{revRating}}}</span>
                                    <meter class="average-rating star5 mang-inasal d-inline-block" min="0" max="5"></meter>
                                </h5>
                            </div>
                    </div>

                    <!-- review text (req)-->
                    <div class="card-body reviewBody">
                            <h6 class="card-title reviewTitle">{{{revTitle}}}</h6>
                        <p class=" reviewtext truncate card-text">
                            {{{revContent}}}
                        </p>

                        <!-- media  -->
                        {{{revMedia}}}

                        
                        <!-- icons -->
                        <div class="flex-center iconBox">
                            <span class=" chat chatbg "></span>
                            <span class=" cNum card-text">{{{replyNo}}}</span>
                            <span class=" up upbg"> </span>
                            <span class=" uvote card-text">{{{upNo}}}</span>
                            <span class=" down downbg"></span>
                            <span class=" dvote card-text">{{{downNo}}}</span>
                            <span class=" reply replybg"></span>
                        </div>
                    </div>

                    <!-- reply area (req)-->
                    <div class=" wReply card-footer collapse">
                       <form> <div class="form-group">
                            <label for="text" class="form-label writeReply">Write a Reply</label>
                            <textarea class="form-control" required  id="text" name="text" rows="3"></textarea>
                            <button type="submit" class=" postReply btn btn-success">Post</button>
                          </div></form>
                    </div>

                    <!-- establishment response (opt) -->
                    {{{EstabResponse}}}

                    <!--  comment section list of review-->
                    <!-- UL ID is for review // the reply will have a unique ID -->
                    <ul class=" comment list-group list-group-flush collapse">
                        {{{replies}}}
                      </ul>
                </div>
            </div>